.zcbt{
	color: #FF6057;
	line-height: 65px;
	font-size: 23px;
	font-family:"微软雅黑"

}
.yxzc{
	font-weight: bold;
	font-size: 14px;
	font-family:"微软雅黑"
}
.button_zs{
	color: white;
	font-size: 18px;
	font-family: "微软雅黑";	
	
	
	
}
.mid_rfbody_delu{
	
	font-family: "微软雅黑";	
	font-size: 17px;
	text-align: center;
	
}
.mid_rfbody_delu a{
	
	color: #FF6057; 
	
}
.dnbt{
	color: #FF6057;
	line-height: 95px;
	font-size: 23px;
	font-family:"微软雅黑";
	text-align: center;
	
	
	
}
.mid_rfbody_wjmm{
	font-size: 15px;
	font-family:"微软雅黑";
	text-align: right;
	
	
}
.button_dl{
	color: white;
	font-size: 18px;
	font-family: "微软雅黑";	
	
	
	
}
.dnbt{
	color: #FF6057;
	line-height: 95px;
	font-size: 23px;
	font-family:"微软雅黑";
	text-align: center;
	
	
	
}
.mid_rfbody_zuce{
	
	font-family: "微软雅黑";	
	font-size: 17px;
	text-align: center;
	
}
.mid_rfbody_zuce a{
	
	color: #FF6057; ;
	
}
.switchzc a{
	
	font-family: "微软雅黑";	
	font-size: 17px;
	color: #FF6057; ;
}
.iron_font{
		font-family: "微软雅黑";	
		color: darkgrey;
		font-weight: bold;
}
.headbody_font_left{
	font-family: "微软雅黑";
	font-size: 22px;
	text-align: center;
	line-height: 43px;	
	
	
}
.headbody_font_right{
	font-family: "微软雅黑";
	font-size: 15px;
	text-align: center;
	line-height: 43px;	
	
	
}
.headbody_font_right a{
color: black;
}
.headbody_font_right a:hover{
color: #FF6057;	
}
.headmfrfont{
color: white;
text-align: center;	
line-height: 45px;
font-family: "微软雅黑";
font-size: 20px;
font-weight: bolder;
float: left;
}
.headbodfry_font_right{
	font-family: "微软雅黑";
	font-size: 15px;
	text-align: center;
	line-height: 43px;	
}
.headbodfry_font_right a{
color: black;
}
.headbodfry_font_right a:hover{
color: #FF6057;	
}
.rbox{text-align: center;}
